/*
Error: The line was indented 2 levels deeper than the previous line.
        on line 526 of production/css/style.sass

521:   text-transform: uppercase
522:   font-size: 26pt
523: //Modal
524: 
525: .bottom-logo-create .logo .img {
526:     background: url(images/sprite.png) no-repeat -244px -2px
527:     width: 26px
528:     height: 26px
529:     float: left
530:     margin-right: 10px
531:     margin-top: 3px

Backtrace:
production/css/style.sass:526
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.21/lib/sass/engine.rb:517:in `tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.21/lib/sass/engine.rb:406:in `_to_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.21/lib/sass/engine.rb:278:in `render'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:209:in `each'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.21/lib/sass/plugin.rb:82:in `update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.21/lib/sass/exec/sass_scss.rb:363:in `watch_or_update'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.21/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.21/lib/sass/exec/base.rb:52:in `parse'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.21/lib/sass/exec/base.rb:19:in `parse!'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.21/bin/sass:13:in `<top (required)>'
/usr/local/bin/sass:23:in `load'
/usr/local/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: The line was indented 2 levels deeper than the previous line.\A         on line 526 of production/css/style.sass\A \A 521:   text-transform: uppercase\A 522:   font-size: 26pt\A 523: //Modal\A 524: \A 525: .bottom-logo-create .logo .img {\A 526:     background: url(images/sprite.png) no-repeat -244px -2px\A 527:     width: 26px\A 528:     height: 26px\A 529:     float: left\A 530:     margin-right: 10px\A 531:     margin-top: 3px"; }
