@import mail

@font-face
  font-family: "RobotoRegular"
  src: url("../fonts/RobotoRegular/RobotoRegular.eot")
  src: url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff")
  src: url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype")
  font-style: normal
  font-weight: normal

@mixin clear()
  &:after
    content : ''
    display : table
    clear : both

@mixin bold()
  font-weight : 700

@mixin light()
  font-weight : 300

@mixin thin()
  font-weight : 100

$browser-context: 16
@function em($pixels, $context: $browser-context)
  @if (unitless($pixels))
    $pixels: $pixels * 1px
  @if (unitless($context))
    $context: $context * 1px
  @return $pixels / $context * 1em

.clear
  +clear

*::selection
  background: rgba(#a6569b, .7)
  color: #ffffff

*
  box-sizing : border-box

body
  font-family: "RobotoRegular", sans-serif
  font-size: $browser-context * 1px
  padding : 0
  margin : 0

h1,h2,h3,h4,h5,h6
  -webkit-margin-before : 0
  -webkit-margin-after : 0
  -webkit-padding-start : 0
  font-weight : 400
  margin : 0

a
  color: inherit
  text-decoration : none
  &:hover
    color: inherit

//$font-size: 1vw
$fz: 16pt
$primary: #872d85


//*Index.html styles



//Navigation styles
nav
  background: #242424
  padding-bottom: 10px
  width: 100%
  .menu
    a
      color: #ffd302
      border-bottom: 3px solid
      font-weight: bold
      padding-bottom: 2px
      display: inline-block
      margin-top: 15px
      font-size: $fz
      margin-left: 15px
      &:hover,
      &.active
        color: #ffffff
  .phone
    text-align: center
    p
      color: #ffffff
      font-size: $fz + 8
      margin: 0
    a
      border-bottom: 1px dotted
      color: #ffd302
  .email
    text-align: center
    p
      color: #ffffff
      font-size: $fz - 4
      margin: 10px 0
    a
      color: #ffd302
      border-bottom: 1px solid
      font-size: $fz - 3
//slogo styles
.intro,
.reviews_intro,
.our_works_intro
  background: #ececec
  padding: 0 5%
  .logo
    a
      display: inline-block
      float: left
      margin: 10px
  .name
    border-right: 1px solid #b1b1b1
    line-height: 1.2
    margin-top: 10px
    padding-bottom: 10px
    padding-top: 10px
    p
      display: inline
      margin: 0 20px
      font-size: $fz
    h3
      display: inline
      font-weight: bold
      text-transform: uppercase
      font-size: $fz
      margin: 0 20px
      color: #872d85
  .slogan
    font-weight: bold
    font-size: $fz + 8
//main page styles
.main-page
  background: #f4f4f4
  padding-bottom: 55px
  ul
    padding-top: 55px
    list-style-image: url(../img/marker.png)
    li
      padding-bottom: 30px
      padding-left: 45px
      font-weight: bold
      a
        color: #1a75aa
        border-bottom: 2px solid rgba(#1a75aa, .5)
        font-size: $fz + 2
        padding-bottom: 7px
        &:hover
          color: #000000
  .video
    margin-top: 55px
    img
      width: 100%
//form style
.form_section
  color: #ffffff
  text-transform: uppercase
  background: $primary
  padding-top: 20px
  text-align: center
  padding-bottom: 20px
  h3
    font-size: $fz + 18
    padding-bottom: 25px
  form
    input, button
      margin-left: 30px
      border: 1px solid #fff
      border-radius: 15px
      background-color: transparent
      padding-left: 15px
      padding-right: 15px
      width: 170px
      height: 40px
      &:focus
        outline: none
      &::-webkit-input-placeholder
        color: #ffffff
      &:-moz-placeholder
        color: #ffffff
      &::-moz-placeholder
        color: #ffffff
      &:-ms-input-placeholder
        color: #ffffff
    button
      border: 2px solid #fff
      font-weight: bold
      text-transform: uppercase
      transition: all .5s
      &:hover
        background: #ffffff
        color: $primary

//works styles
.works
  background: #ebebeb
  padding: 35px 0 10px 0
  h1
    text-align: center
    font-weight: bold
    font-size: $fz + 16
  .section
    margin-left: 5%
    padding-bottom: 60px
    .title
      padding-right: 5%
      &>h3
        color: #2d2d2d
        font-size: $fz + 8
        font-weight: bold
        display: inline
        padding: 0 35px 0 15px
      &>a
        border-bottom: 1px solid
        color: #1a75aa
        float: right
        font-size: $fz
        font-weight: bold
        padding-top: 5px
        &:hover
          color: #000000
    .work_video
      margin: 15px
      float: left
      padding: 10px
      width: 270px
      background: #ffffff
      text-align: center
      a
        display: block
        position: relative
        overflow: hidden
        margin-bottom: 10px
        height: 165px
        img[alt="poster"]
          width: 100%
        img[alt="play"]
          position: absolute
          top: 50%
          left: 50%
          cursor: pointer
          transform: translate( -50%, -50%)
          transition: .5s all
          &:hover
            transform: translate( -50%, -50%) scale(1.2)
      h3
        font-size: $fz - 4
        font-weight: bold
        margin: 15px auto
//reviews styles
.reviews
  background: #dcdcdc
  text-align: center
  padding: 35px 0 55px 0
  h1
    font-size: $fz + 16
    font-weight: bold
  h2
    text-align: left
    font-size: $fz + 20
    margin-left: 26px
  .review
    border-bottom: 1px solid #d0d0d0
    padding-bottom: 45px
    padding-top: 45px
    &:last-child
      border-bottom: 0
  .review-text
    text-align: left
    .link_label
      font-weight: bold
      font-size: $fz
      margin-bottom: 5px
      margin-top: 10px
    a
      border-bottom: 2px solid
      color: #008cc0
      font-size: $fz
  .reviews_video,
  .reviews_video_big
    margin: 15px
    float: left
    padding: 10px
    width: 330px
    background: #ffffff
    a
      display: block
      position: relative
      overflow: hidden
      margin-bottom: 25px
      height: 165px
      img[alt="poster"]
        width: 100%
      img[alt="play"]
        position: absolute
        top: 50%
        left: 50%
        cursor: pointer
        transform: translate( -50%, -50%)
        transition: .5s all
        &:hover
          transform: translate( -50%, -50%) scale(1.2)
    h3
      font-size: $fz - 2
      font-weight: bold
      padding-bottom: 15px
    h4
      font-size: $fz - 4
      font-weight: bold
      padding-bottom: 10px
    p
      font-size: $fz - 5
      margin: 0
      padding-bottom: 15px
  .reviews_video_big
    width: 365px

//footer styles
footer
  background: #ebebeb
  padding: 20px 0
  +clear
  .bottom-logo
    padding-top: 10px
    font-size: $fz - 4
    line-height: 2
  .bottom-contacts
    font-size: $fz - 4
  .bottom-logo-create
    line-height: 2


/*** Our Works styles ***/
/************************/
@import "our_works"
/*** Our Works styles ***/
/************************/

header#blog
  background: #f6f6f6
  padding: 8px
  .logo, .name
    display: inline-block
  .logo
    vertical-align: top
  .name
    border-right: 1px solid #b1b1b1
    line-height: 1.2
    padding: 10px 30px
    p
      font-size: $fz
      margin: 0
    h3
      font-weight: bold
      text-transform: uppercase
      font-size: $fz
      color: $primary
      margin: 0
  .blog_title
    display: inline
    line-height: 2
    font-weight: bold
  .speech_bubble
    display: inline-block
    vertical-align: top
    margin-left: 5px
#menu
  background: $primary
  a
    color: #ffffff
    line-height: 4.5
    font-size: em(18px)
    margin-left: 40px
    border-bottom: 3px solid
    padding-bottom: 5px
    font-weight: bold
    &:first-child
      margin-left: 15px
#page
  background: #f6f6f6
  padding: 20px
  .slider
    position: relative
    border-radius: 5px
    overflow: hidden
    height: 408px
    .favorite
      position: absolute
      margin: 10px 15px
      img[alt="icons"]
        width: initial
        margin-top: -5px
    img
      width: 100%
    .controllers
      top: calc(50% - 40px)
      position: absolute
      width: 25px
      height: 40px
      cursor: pointer
      path
        fill: none
        stroke-width: 3
      &.right
        right: 15px
        & path
          stroke: $primary
      &.left
        left: 15px
        & path
          stroke: #fff
    .slider_title
      position: absolute
      bottom: 0
      left: 0
      color: #ffffff
      margin: 0
      width: 100%
      font-size: em(20px)
      padding: 30px
      background: rgba(#2f2f2f, .75)
      font-weight: bold
  .latest_news
    border-radius: 5px
    border: 1px solid #dddddd
    padding: 15px 25px
    h1
      font-weight: bold
      font-size: em(25)
      margin-top: 0
      margin-bottom: 35px
    a:hover p
      text-decoration: underline
    .last_news_post
      margin-bottom: 35px
      &:last-child
        margin-bottom: 25px
      .img_wrapper
        display: inline-block
        img
          width: 100%
      p
        width: 70%
        float: right
        margin: 0
        color: #393939
  #news
    margin: 20px 0
    +clear()
    a:hover .news_block p
      text-decoration: underline
    .news_block
      background: #ffffff
      padding: 10px
      border-radius: 5px
      border: 1px solid #e6e6e6
      margin-bottom: 20px
      img[alt="news"]
        margin-bottom: 15px
        width: 100%
      .date, .comments, .views
        color: #a7a7a7
        font-size: em(15)
        i
          display: inline-block
          width: 20px
          height: 20px
          vertical-align: bottom
          background: url(../img/blog/news_icons.png) no-repeat
          margin-right: 5px
      .comments, .views
        float: right
      .date i
        background-position: 2px
      .comments i
        background-position: -16px
      .views
        margin-right: 10px
        i
          background-position: -34px
      p
        padding: 0 15px
        color: #333333
  #load_more
    text-align: center
    margin: 50px auto
    button
      color: #636363
      font-size: em(18)
      border-radius: 15px
      border: 2px solid lighten($primary, 30%)
      background: transparent
      padding: 5px 15px
      transition: all .5s
      &:hover
        background: lighten($primary, 30%)
        color: #ffffff
  #breadcrumps
    padding-left: 1%
    color: #757575
    font-size: em(18)
    a
      &.active
        color: $primary
        text-decoration: underline
      &:hover
        text-decoration: underline
    span
      margin: 0 15px
  #page_num
    margin: 0 40px
    +clear()
    #prev, #next
      color: #9c9c9c
      line-height: 2
      &:hover
        color: #000000
        text-decoration: underline
        & span
          background: #000000
      span
        width: 25px
        height: 2px
        background: #9c9c9c
        top: 50%
        position: absolute
    #prev
      float: right
      span
        left: 10px
        &::before
          content: ''
          position: absolute
          bottom: -4px
          left: -2px
          border-right: 10px solid #9c9c9c
          border-top: 5px solid transparent
          border-bottom: 5px solid transparent
          border-left: 0
          width: 10px
          height: 10px
      &:hover span::before
        border-right-color: #000000
    #next
      span
        right: 10px
        &::after
          content: ''
          position: absolute
          bottom: -4px
          right: -2px
          border-left: 10px solid #9c9c9c
          border-top: 5px solid transparent
          border-bottom: 5px solid transparent
          border-right: 0
          width: 10px
          height: 10px
      &:hover span::after
        border-left-color: #000000
    ul
      margin: 0
      padding: 0
      list-style: none
      text-align: center
      li
        display: inline-block
        padding: 5px 10px
        border: 1px solid #9c9c9c
        border-radius: 5px
        &.active
          border: 2px solid lighten($primary, 30%)
#news_full
  h1
    color: #333333
    font-size: em(20)
    margin-bottom: 40px
  .news_body
    position: relative
    overflow: hidden
    img
      width: 100%
    .bottom_statistics
      position: absolute
      width: 100%
      color: #ffffff
      background: rgba(#2f2f2f, .75)
      bottom: 0
      line-height: 3
      padding: 0 30px
      font-size: em(15)
      .comments, .views
        float: right
      .views
        margin-right: 15px
  #subscribe
    background: #ececec
    border-radius: 5px
    padding: 20px
    margin-top: 20px
    h1
      font-weight: bold
      color: #363636
      font-size: em(18)
      margin-bottom: auto
    p
      color: #6d6d6d
      font-size: em(15)
      margin-bottom: 35px
    form
      text-align: center
      input
        font-size: em(15)
        margin: 15px auto
        width: 100%
        line-height: 2
        padding: 0 15px
        border: 1px solid #d0d0d0
        border-radius: 5px
      button
        margin: 15px auto
        font-weight: bold
        text-transform: uppercase
        color: $primary
        border: 1px solid #d0d0d0
        border-radius: 5px
        background-color: transparent
        line-height: 2
        padding: 0 15px
        font-size: em(15)